IM/Service References/IMService/IMSLogStateChange.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IMSLogStateChange" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61397/IMSLogStateChange.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61397/IMSLogStateChange.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIMSLogStateChange_changeLogState_InputMessage">
    <wsdl:part name="parameters" element="tns:changeLogState" />
  </wsdl:message>
  <wsdl:message name="IIMSLogStateChange_changeLogState_OutputMessage">
    <wsdl:part name="parameters" element="tns:changeLogStateResponse" />
  </wsdl:message>
  <wsdl:message name="IIMSLogStateChange_getFrdList_InputMessage">
    <wsdl:part name="parameters" element="tns:getFrdList" />
  </wsdl:message>
  <wsdl:message name="IIMSLogStateChange_getFrdList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFrdListResponse" />
  </wsdl:message>
  <wsdl:message name="IIMSLogStateChange_registUser_InputMessage">
    <wsdl:part name="parameters" element="tns:registUser" />
  </wsdl:message>
  <wsdl:message name="IIMSLogStateChange_registUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:registUserResponse" />
  </wsdl:message>
  <wsdl:message name="IIMSLogStateChange_getOnlineList_InputMessage">
    <wsdl:part name="parameters" element="tns:getOnlineList" />
  </wsdl:message>
  <wsdl:message name="IIMSLogStateChange_getOnlineList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOnlineListResponse" />
  </wsdl:message>
  <wsdl:message name="IIMSLogStateChange_addFrd_InputMessage">
    <wsdl:part name="parameters" element="tns:addFrd" />
  </wsdl:message>
  <wsdl:message name="IIMSLogStateChange_addFrd_OutputMessage">
    <wsdl:part name="parameters" element="tns:addFrdResponse" />
  </wsdl:message>
  <wsdl:portType name="IIMSLogStateChange">
    <wsdl:operation name="changeLogState">
      <wsdl:input wsaw:Action="http://tempuri.org/IIMSLogStateChange/changeLogState" message="tns:IIMSLogStateChange_changeLogState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIMSLogStateChange/changeLogStateResponse" message="tns:IIMSLogStateChange_changeLogState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFrdList">
      <wsdl:input wsaw:Action="http://tempuri.org/IIMSLogStateChange/getFrdList" message="tns:IIMSLogStateChange_getFrdList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIMSLogStateChange/getFrdListResponse" message="tns:IIMSLogStateChange_getFrdList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IIMSLogStateChange/registUser" message="tns:IIMSLogStateChange_registUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIMSLogStateChange/registUserResponse" message="tns:IIMSLogStateChange_registUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOnlineList">
      <wsdl:input wsaw:Action="http://tempuri.org/IIMSLogStateChange/getOnlineList" message="tns:IIMSLogStateChange_getOnlineList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIMSLogStateChange/getOnlineListResponse" message="tns:IIMSLogStateChange_getOnlineList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addFrd">
      <wsdl:input wsaw:Action="http://tempuri.org/IIMSLogStateChange/addFrd" message="tns:IIMSLogStateChange_addFrd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIMSLogStateChange/addFrdResponse" message="tns:IIMSLogStateChange_addFrd_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIMSLogStateChange" type="tns:IIMSLogStateChange">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="changeLogState">
      <soap:operation soapAction="http://tempuri.org/IIMSLogStateChange/changeLogState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFrdList">
      <soap:operation soapAction="http://tempuri.org/IIMSLogStateChange/getFrdList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registUser">
      <soap:operation soapAction="http://tempuri.org/IIMSLogStateChange/registUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOnlineList">
      <soap:operation soapAction="http://tempuri.org/IIMSLogStateChange/getOnlineList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addFrd">
      <soap:operation soapAction="http://tempuri.org/IIMSLogStateChange/addFrd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IMSLogStateChange">
    <wsdl:port name="BasicHttpBinding_IIMSLogStateChange" binding="tns:BasicHttpBinding_IIMSLogStateChange">
      <soap:address location="http://localhost:61397/IMSLogStateChange.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>